# split 함수

In [17]:
items = 'zero one two three'.split()
print(items)
#빈칸을 기준으로 문자열 나누기

['zero', 'one', 'two', 'three']

In [9]:
example = 'python, java, c++'
example.split(",")
# ","을 기준으로 나누기

['python', ' java', ' c++']

In [13]:
a, b, c = example.split(",")
#리스트에 있는 각 값을 a, b, c 변수로 unpacking

example = 'teamlab.technology.io'
subdomain, domain, tld = example.split('.')
#"."을 기준으로 문자열 나누기 -> Unpacking

# join 함수

In [16]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors) # 연결 시 빈칸 1칸으로 연결
result

'redbluegreenyellow'

In [18]:
result = ','.join(colors)
result # 연결 시 " , " 으로 연결

'red,blue,green,yellow'

In [19]:
result = '-'.join(colors)
result # 연결 시 " -" 으로 연결

'red-blue-green-yellow'

# list comprehension  -> 포괄적인 list, 포함되는 리스트라는 의미로 사용됨

In [22]:
result = []
for i in range(10):
    result.append(i)
    
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
result = [i for i in range(10) if i % 2 == 0]
result

[0, 2, 4, 6, 8]

In [25]:
word_1 = "Hello"
word_2 = "World"
result = [ i+j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [26]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [ i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [27]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [ i+j for i in case_1 for j in case_2 if not (i == j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [28]:
result.sort()
result

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

# sort : 정렬, 기본값은 오름차순 정렬, reverse옵션 True는 내림차순 정렬

In [45]:
a = [1, 10, 5, 7, 6]
a.sort()
a

[1, 5, 6, 7, 10]

In [32]:
a = [1, 10, 5, 7, 6]
a.sort(reverse=True)
a

[10, 7, 6, 5, 1]

In [33]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [39]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

# two dimensional

In [44]:
case_1 = ["A", "B", "C"]
case_2 = ["D", "E", "A"]
result = [[i+j for i in case_1] for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

# enumerate:열거하다 & zip: 두 개의 list의 값을 병렬적으로 추출함

In [46]:
for i, v in enumerate(['tic', 'tac', 'toe']):
# list의 있는 index와 값을 unpacking
    print(i, v)

0 tic
1 tac
2 toe

In [47]:
mylist = ['a', 'b', 'c', 'd']
list(enumerate(mylist)) # list의 있는 index 와 값을 unpacking 하여 list로 저장

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [50]:
{i:j for i,j in enumerate('Artifical intelligence(AI), is intelligence demonstrated by machines,unlike the natural intelligence displayed by humans and animals'.split())}

{0: 'Artifical',
 1: 'intelligence(AI),',
 2: 'is',
 3: 'intelligence',
 4: 'demonstrated',
 5: 'by',
 6: 'machines,unlike',
 7: 'the',
 8: 'natural',
 9: 'intelligence',
 10: 'displayed',
 11: 'by',
 12: 'humans',
 13: 'and',
 14: 'animals'}

In [52]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

# enumerate & zip 동시 사용 사례

In [54]:
alist = ['ai', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for i, (a,b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 ai b1
1 a2 b2
2 a3 b3

# lambda & map & reduce

In [55]:
def f(x, y):
    return x + y
print(f(1, 4))

5

In [58]:
f = lambda x, y : x + y
print(f(1,4))

5

In [59]:
f =lambda x, y: x + y
print(f(1,4))

5

In [60]:
f = lambda x: x ** 2
print(f(3))

9

In [ ]:
# f = lambda x: x / 2
print(f(3))

In [62]:
print((lambda x: x + 1)(5))

6

# map function overview

map은 리스트의 요소를 지정된 함수로 처리해주는 함수입니다. 
(map은 원본 리스트를 변경하지 않고 새 리스트를 생성합니다.)
 -> list(map(함수, 리스트))
 -> tuple(map(함수, 튜플))

In [3]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range (len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [4]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [63]:
ex = [1, 2, 3, 4, 5]
f = lambda x, y: x + y
print(list(map(f, ex, ex)))

[2, 4, 6, 8, 10]

In [64]:
list(
    map(
    lambda x: x **2 if x %2 ==0
    else x,
    ex)
)

[1, 4, 3, 16, 5]

# reduce function overview

In [ ]:
# map function과 달리 list에 똑같은 함수를 적용해서 통합

# iterable object

In [ ]:
iterable 자료형: 반복 가능한
    연속된 데이터를 하나의 변수에 모아 두는 것

List : 가장 일반적인 iterable 자료형입니다. 값 접근, 추가, 수정, 삭제가 자유롭습니다.
Tuple : List와 유사하지만, Tuple은 한 번 정의하고 나면 값 접근은 가능하지만 추가, 수정, 삭제가 불가능합니다. Read-only List라고 생각할 수 있습니다.
Dictionary : key-value 쌍으로 이루어진 자료형입니다.
Set : 수학의 집합 개념과 비슷합니다. 중복을 허용하지 않으며, 순서가 보장되지 않습니다.

In [ ]:
iterable 의 의미는 member를 하나씩 차례로 반환 가능한 object를 말한다.

iterator 는 next() 메소드로 데이터를 순차적으로 호출 가능한 object 이다.

In [5]:
arr = [1,2,3,4]
ir = iter(arr) #iterator 객체 얻는 방법 , iter라는 이름의 함수를 호출하며, 리스트를 전달함

print(next(ir)) # next 함수를 통해서, 객체를 전달하며 리스트에 저장된 값을 하나씩 꺼낼 수 있다.
print(next(ir))

1
2

In [25]:
a = [1,2,3]
a_iter = iter(a)
next(a_iter)
next(a_iter)
next(a_iter)

3

In [26]:
b = {1,2,3}
dir(b)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
#Sequence 형 자료형에서 데이터를 순서대로 추출하는 object
for city in ['Seoul', 'Busan', 'Pohang']:
    print(city, end='\t')

for language in ('Python','C', 'Java'):
    print(language, end='\t')

for char in "Python is easy":
    print( char, end="")

Seoul	Busan	Pohang	Python	C	Java	Python is easy

In [8]:
#내부적 구현으로 _iter_와 _next_가 사용됨
#iter() 와 next() 함수로 iterable 객체를 iterator object로 사용

In [10]:
cities = ['Seoul', 'Busan', 'Jeju']
iter_obj = iter(cities) # --> memory address를 가져오게 되는 것

print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))
next(iter_obj) # --> 값을 실제 보기 위해서는 next를 사용해야 함.

Seoul
Busan
Jeju

StopIteration:

# generator

In [ ]:
# iterable object를 특수한 형태로 사용해주는 함수
# element가 사용되는 시점에 값을 메모리에 반환 -> 메모리주소를 절약할 수 있음
# :yield를 사용해 한번에 하나의 element만 반환함

In [31]:
def test_generator():
    yield 1
    yield 2
    yield 3
    
gen = test_generator()
type(gen)
next(gen)
next(gen)
next(gen)

3

In [12]:
def general_list(value):
    result = []
    for i in range(value):
        result.append(i)
    return result


###############################
def generator_list(value):
    result = []
    for i in range(value):
        yield i

In [14]:
#list comprehension과 유사한 형태로 generator 형태의 list생성
#generator expressiong 이라는 이름으로도 부름
# [] 대신 ()를 사용하여 표현

gen_ex = (n*n for n in range(500))
print(type(gen_ex))

<class 'generator'>

# function passing arguments(함수 인자)

In [ ]:
#함수에 입력되는 arguments의 다양한 형태
# 1. Keyword arguments
# 2. Default arguments
# 3. Variable-length arguments

In [1]:
# 1. Keyword arguments
# 함수에 입력되는 parameter의 변수명을 사용,arguments를 넘김

def print_something(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))
print_something("Sungchul", "TEAMLAB")
print_something(your_name = "TEAMLAB", my_name = "Sungchul")

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

In [5]:
# 2. Default arguments
# parameter의 기본 값을 사용, 입력하지 않을 경우 기본값 출력

def print_something_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

    
print_something_2("Sungchul", "TEAMLAB")
print_something_2("Sunghchul")

Hello TEAMLAB, My name is Sungchul

In [ ]:
# 3. Variable-length arguments
# 함수의 parameter가 정해지지 않았다? -> 가변인자 using asterisk

# asterisk

# 가변인자 (variable-length)
# 개수가 정해지지 않은 변수를 함수의 parameter로 사용하는 법
# keyword arguments와 함께, argument 추가가 가능
# Asterisk(*)기호를 사용하여 함수의 parameter를 표시함
# 입력된 값은 tuple type으로 사용할 수 있음
# 가변인자는 오직 한 개만 맨 마지막 parameter 위치에 사용가능

# 가변인자는 일반적으로 *args를 변수명으로 사용
# 기존 parameter 이후에 나오는 값을 tuple로 저장함

In [9]:
def asterisk_test(a,b, *args):
    return a+b+sum(args)
    
print(asterisk_test(1,2,3,4,5))

15

In [10]:
def asterisk_test_2(*args):
    x, y, z = args
    return x, y, z

print(asterisk_test_2(3,4,5))

(3, 4, 5)

In [11]:
# 키워드 가변인자 (Keyword variable-length)
# parameter 이름을 따로 지정하지 않고 입력하는 방법
asterisk(*) 두개를 사용하여 함수의 parameter를 표시함
# 입력된 값은 dict type으로 사용할 수 있음
# 가변인자는 오직 한 개만 기존 가변인자 다음에 사용

In [14]:
'''def kwargs_test_1(**kwargs):
    print(kwargs)
    
def kwargs_test_2(**kwargs):
    print(kwargs)
    print("First value is {first}".format(**kwargs))
    print("Second value is{second}".format(**kwargs))
    print("Third value is {third}".format(**kwargs)) '''
    
def kwargs_test_3(one, two=2, *args, **kwargs):
    print(one+two+sum(args))
    print(kwargs)
    
kwargs_test_3(3,4,5,6,7,8,9, first=3, second=4, third=5)

42
{'first': 3, 'second': 4, 'third': 5}

asterisk - unpacking a container = 값을 풀어주는...
-> tuple, dict등 자료형에 들어가 있는 값을 unpacking
-> 함수의 입력값, zip 등에 유용하게 사용가능

In [15]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1, *(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [16]:
def asterisk_test(a, args):
    print(a, *args)
    print(type(args))
    
asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [18]:
a, b, c = ([1,2],[3,4],[5,6])
print(a,b,c)

data = ([1,2],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [19]:
def asterisk_test(a, b, c, d):
    print(a, b, c, d)
    
data = {"b":1, "c": 2, "d": 3}
asterisk_test(10,**data)

10 1 2 3

In [20]:
for data in zip(*([1,2],[3,4],[5,6])):
    print(data)

(1, 3, 5)
(2, 4, 6)